/EgoExo/basic_version/results/*
/EgoExo/graph_version/results/*
/Assembly/basic_version/results/*
/Assembly/HandFormer
/Assembly/nri/data
/Assembly/nri/runs
/Assembly/nri/out
/Assembly/spatiotemporal/out
/Assembly/spatiotemporal/runs
/Assembly/spatiotemporal/animation_frames
/Assembly/data